.form-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-right: 40px;

  input {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 18px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    flex: 1;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
    color: #1a1a1a;
    &.error{
      border:1px solid red;
      + .error-msg{
        display: block;
      }
    }
  }
  .error-msg{
    display: none;
    color: red;
    font-size: 10px;
    position: absolute;
    bottom: -15px;
    right: 40px;
  }
  &__control {
    position: absolute;
    right: 0;
    bottom:0;
    top: 0;
    margin: auto;
    width: 24px;
    height: 24px;

    .btn{
      padding: 0;
      border: 0;
      position: relative;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      svg{
        path{
          fill:#FFE92B;
          transition: all .2s;
        }
      }
      &:hover{
        svg{
          path{
            fill:#FFC21E;
          }
        }
      }

      &__rm{
        cursor: pointer;
        svg{
          path{
            fill:white;
            transition: all .2s;
            opacity: .2;
          }
        }
        &:hover{
          svg{
            path{
              fill:white;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.btn-submit{
  padding: 22px 48px 20px;
  background: linear-gradient(180deg, #FFE92B 0%, #FFC21E 100%);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 80px;
  cursor: pointer;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  color: #000;
  border: 0;
  outline: none;
  &:active,&:focus{
    outline: none;
  }
  &:hover{
    background: linear-gradient(180deg, #FFC21E 0%, #FFE92B 100%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 3px 7px rgba(0, 0, 0, 0.15);
  }
}